<ion-view title="Calendarios">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" style="target-new:tab;">
    <ion-item>
        <a href="https://culm.unizar.es/sites/culm.unizar.es/files/users/adminwebuz/normativa/calendario.pdf"
                target="_blank">
            Calendario académico y administrativo del CULM 2014/15
        </a>
    </ion-item>
  </ion-content>
</ion-view>
