<ion-view title="Calendarios">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" style="target-new:tab;">
      <div class="list">
          <div class="item">
                <a onclick="navigator.app.loadUrl('https://culm.unizar.es/sites/culm.unizar.es/files/users/adminwebuz/normativa/calendario.pdf',
                 { openExternal:true });">
                    Calendario académico y administrativo del CULM 2014/15
                </a>
          </div>
      </div>
  </ion-content>
</ion-view>
