<ion-view title="Calendarios">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" style="target-new:tab;">
      <div class="list">
        <a class="item" href="https://culm.unizar.es/sites/culm.unizar.es/files/users/adminwebuz/normativa/calendario.pdf"
            target="_blank">
            <span class="tituloCalendar">Calendario académico y administrativo del CULM</span>
            <div class="yearCalendar">2014/15</div>
        </a>
      </div>
  </ion-content>
</ion-view>
