<ion-view title="Profesores">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
				<label class="item item-input formulario-input">
					<input type="text" ng-model="nombre" placeholder="Nombre">
				</label>
				<label class="item item-input formulario-input">
					<input type="text" ng-model="apel1" placeholder="1º Apellido">
				</label>
				<label class="item item-input formulario-input">
					<input type="text" ng-model="apel2" placeholder="2º Apellido">
				</label>
				<label class="item item-input item-select formulario-input">
					<div class="input-label">
						Centro
					</div>
					<select name="Centro" ng-model="centro" >
						<option value=""></option>
						<option value="Zaragoza"selected>Zaragoza</option>
						<option value="Huesca">Huesca</option>
						<option value="Teruel">Teruel</option>
					</select>
				</label>
				<label class="item item-input item-select formulario-input">
					<div class="input-label">
						Campus
					</div>
					<select name="Campus" ng-model="campus" >
						<option value=""></option>
						<option value="Economia"selected>F.Economia</option>
						<option value="Huesca">Huesca</option>
						<option value="Rio Ebro-Actur">Rio Ebro-Actur</option>
						<option value="San Francisco">San Francisco</option>
						<option value="Teruel">Teruel</option>
						<option value="Veterinaria">Veterinaria</option>
					</select>
				</label>
				<label class="item item-input item-select formulario-input">
					<div class="input-label">
						Sección
					</div>
					<select name="Seccion" ng-model="seccion" >
						<option value=""></option>
						<option ng-repeat="secc in seccionTodos" value="{{secc}}">
							{{secc}}
						</option>
					</select>
				</label>
				
                <div class="btn-wrapper">
                  <a class="button button-block button-stable btn-formulario"
				   ng-click="cleanProfesores();search(nombre, apel1, apel2, centro, campus, seccion)"
				   href="#/app/profesoresList">
					Buscar
				  </a>
                </div>
				
            </div>
        </div>			
    </ion-content>
</ion-view>