<ion-view title="Exámenes">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div>
              <a class="item lista-item examen" href="#/app/examenes/examenJunio">
                <div class="tituloExamen">Exámenes Junio</div>
              </a>
              <a class="item lista-item examen" href="#/app/examenes/examenSeptiembre">
                <div class="tituloExamen">Exámenes Septiembre</div>
              </a>
            </div>
        </div>
    </ion-content>
</ion-view>