<ion-view hide-nav-bar="true" id="inicio">
  <ion-content>
    <div id="logo-wrapper">
      <img src="img/smartculmlogo.png" alt="SmartCULM Logo">
    </div>

    <div id="menu-wrapper">
      <a class="button button-block button-light" href="#/app/noticias">
        Noticias
      </a>
      <a class="button button-block button-light" href="#/app/incidencias">
        Incidencias
      </a>
      <a class="button button-block button-light" href="#/app/horarios">
        Horarios
      </a>
      <a class="button button-block button-light" href="#/app/profesores">
        Profesores
      </a>
      <a class="button button-block button-light" href="#/app/examenes">
        Exámenes
      </a>
      <a class="button button-block button-light"
         href = ""
         ng-click="calendarioPopup()">
        Calendario Académico
      </a>

      <a class="button button-block button-light" href="#/app/info" ng-click="notClickedZaragoza()">
        Información
      </a>
    </div>
  </ion-content>
  
</ion-view>
