<ion-view title="Incidencias">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-refresher on-refresh="reloadIncidencias()"
                       pulling-text="Pull to refresh..."
                       refreshing-text="Refreshing!"
                       refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div class="list">
            <div>
                <a class="item" ng-repeat="incidencia in incidencias"
                   href="" target="_blank">
                    <div class="tituloNoticia">{{incidencia}}</div>
                    <div class="fechaNoticia">Fecha incidencia</div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>