<ion-view title="Inicio">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <!-- REFRESH PAGE -->
    <ion-refresher on-refresh="reloadInfo()"
                   pulling-text="Pull to refresh..."
                   refreshing-text="Recargando"
                   refreshing-icon="ion-loading-c">
    </ion-refresher>

    <div class="list">

      <!-- NOTICIAS -->
      <div>
        <a class="item item-divider item-icon-right" href="#/app/noticias">
          Noticias
          <i class="icon ion-arrow-right-c"></i>
        </a>
        <div>
          <a class="item" ng-repeat="noticia in noticias | limitTo: 5"
             ng-href="{{noticia.listaNoticias[0].uri}}" target="_blank">
            <div class="tituloNoticiaInicio">{{noticia.listaNoticias[0].descripcion}}</div>
          </a>
        </div>
      </div>

      <!-- INCIDENCIAS -->
      <div>
        <a class="item item-divider item-icon-right" href="#/app/incidencias">
          Incidencias
          <i class="icon ion-arrow-right-c"></i>
        </a>
        <div>
          <a class="item" ng-repeat="incidencia in incidencias | limitTo: 5"
             href="" target="_blank">
            <div class="tituloNoticiaInicio">{{incidencia}}</div>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
