<ion-view hide-nav-bar="true" id="inicio">
  <ion-content>
    <div id="logo-wrapper">
      <img src="img/smartculm.png" alt="SmartCULM Logo">
    </div>

    <div id="menu-wrapper">
      <a class="button button-block button-light" href="#/app/noticias">
        Noticias
      </a>
      <a class="button button-block button-light" href="#/app/incidencias">
        Incidencias
      </a>
      <a class="button button-block button-light" href="#/app/horarios">
        Horarios
      </a>
      <a class="button button-block button-light" href="https://culm.unizar.es/sites/culm.unizar.es/files/users/adminwebuz/normativa/calendario.pdf">
        Calendario
      </a>
      <a class="button button-block button-light" href="#/app/info">
        Información
      </a>
    </div>
  </ion-content>
  
</ion-view>
