<ion-view title="Noticias">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
      <div class="list">
              <div>
              <a class="item" ng-repeat="noticia in noticias  | startFrom:currentPage*pageSize | limitTo:pageSize"
                 href="{{noticia.listaNoticias[0].uri}}" target="_blank">
                  <div class="tituloNoticia">{{noticia.listaNoticias[0].descripcion}}</div>
                  <div class="fechaNoticia">{{noticia.fecha}}</div>
              </a>
              </div>
              <div>
                  <button class="button button-positive" id="previousButton"
                      ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                      Previous
                  </button>
                  <span id="pageNumber">{{currentPage+1}}/{{numberOfPages()}}</span>
                  <button class="button button-positive" id="nextButton"
                          ng-disabled="currentPage >= noticias.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                      Next
                  </button>
              </div>
      </div>
  </ion-content>
</ion-view>