<ion-view title="Noticias">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
      <ion-refresher on-refresh="reloadNews()"
                     pulling-text=""
                     refreshing-text="Recargando noticias"
                     refreshing-icon="ion-loading-c">
      </ion-refresher>
      <div id="searchNews" ng-hide="currentPage!=0">
          <label class="ion-search"></label>
          <input class="class-form" ng-model="query" ng-change="filterNoticias(query)"
                   id="searchInput" placeholder="Buscar noticia...">
          <button class="ion-close-circled" ng-click="query='';clearSearch()"
                  ng-show="query.length"></button>
      </div>
      <div class="list">
              <div>
              <a class="item" ng-repeat="noticia in filteredNoticias | startFrom:currentPage*pageSize | limitTo:pageSize"
                 href="#" onclick="window.open({{noticia.listaNoticias[0].uri}}, '_system')">
                  <div class="tituloNoticia">{{noticia.listaNoticias[0].descripcion}}</div>
                  <div class="fechaNoticia">{{noticia.fecha}}</div>
              </a>
              </div>
        </div>
  </ion-content>
  <div class="bar bar-footer" ng-hide="hidePagBtns">
      <button class="button button-positive" id="previousButton"
              ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
          Previous
      </button>
      <span id="pageNumber">{{currentPage+1}}/{{noOfPages}}</span>
      <button class="button button-positive" id="nextButton"
              ng-disabled="noOfPages == 1 || (currentPage + 1) == noOfPages" ng-click="currentPage=currentPage+1">
          Next
      </button>
  </div>
</ion-view>