<ion-view title="Noticias">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
      <ion-refresher on-refresh="reloadNews();query=''"
                     pulling-text=""
                     refreshing-text="Recargando noticias"
                     refreshing-icon="ion-loading-c">
      </ion-refresher>
      <ion-header-bar id="searchNews" class="item-input-inset bar-light">
          <label class="item-input-wrapper">
              <i class="icon ion-ios7-search placeholder-icon"></i>
              <input type="search" class="class-form" ng-model="query" ng-change="filterNoticias(query)"
                   id="searchInput" placeholder="Buscar noticia...">
          </label>
          <button class="button button-clear button-positive" ng-click="query='';clearSearch()"
                  ng-show="query.length">Cancel</button>
      </ion-header-bar>
      <div class="list">
              <div>
              <a class="item" ng-repeat="noticia in filteredNoticias | startFrom:currentPage*pageSize | limitTo:pageSize"
                 href="{{noticia.listaNoticias[0].uri}}" target="_blank">
                  <div class="tituloNoticia">{{noticia.listaNoticias[0].descripcion}}</div>
                  <div class="fechaNoticia">{{noticia.fecha}}</div>
              </a>
              </div>
      </div>
      <ion-infinite-scroll
              on-infinite="loadMoreNews()"
              distance="10%">
      </ion-infinite-scroll>
  </ion-content>
</ion-view>