<ion-view title="Examenes">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div>
                <a class="item noticia-item" href="#/app/examenes/examenJunio">Exámenes Junio</a>
                <a class="item noticia-item" href="#/app/examenes/examenSeptiembre">Exámenes Septiembre</a>
            </div>
        </div>
    </ion-content>
</ion-view>