<ion-view title="Examenes de Septiembre">

    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">

        <ion-header-bar id="searchNews" class="item-input-inset bar-light">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" class="class-form" ng-model="query" ng-change="filterExamenes(query)"
                       id="searchInput" placeholder="Buscar idioma o profesor">
            </label>
            <button class="button button-clear button-positive" ng-click="query='';clearSearch()"
                    ng-show="query.length">Cancelar</button>
        </ion-header-bar>

        <div class="list">
            <div>
                <a class="item noticia-item examen" ng-repeat="examen in filteredExSept"
                   href="{{examen.URI}}" target="_blank">
                    <div class="tituloExamen" ng-bind-html="examen.asignatura"></div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>