<ion-view title="Horarios">

  <ion-nav-buttons class="nav-buttons" side="left">
    <a id="backBtn" class="button icon-left ion-chevron-left button-clear button-dark"
       href="#/app/horarios">Atrás</a>
    </a>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
      <div>
        <a class="item lista-item horario"
           ng-repeat="horario in horarios | orderBy: 'idioma' | limitTo:pageSize"
           href="#/app/horarios/{{horario.idioma}}" ng-show="!resultadoHorariosVacio"
           ng-click="loadHorario(horario)">
          <div class="tituloHorario" ng-bind-html="horario.idioma"> </div>
          <div class="tituloHorarioProfesor">{{horario.profesor}}</div>

        </a>

        <div class="item lista-item busquedaSinResultado" ng-show="resultadoHorariosVacio">
          <div class="tituloHorario">Ningún resultado</div>
        </div>

          <div class="item lista-item busquedaSinResultado" ng-show="resultadoHorariosError">
              <div class="tituloHorario">Error al conectar con la base de datos</div>
          </div>
      </div>
    </div>

    <ion-infinite-scroll
            on-infinite="loadMoreHorarios()"
            distance="10%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>