<ion-view title="Info. Zaragoza">
  
    <ion-nav-buttons class="nav-buttons" side="left">
        <a id="backBtn" class="button icon-left ion-chevron-left button-clear button-dark"
           href="#/app/info">Atrás</a>
        </a>
    </ion-nav-buttons>
  
    <ion-content class="has-header">
      <div class="detalle-wrapper">
        <h3 class="titulo-detalle">Campus Veterinaria</h3>
        
        <h4>Edificio:</h4>
        <p>Hospital Clínico, 1ª planta, pasillo de admón. de Patología.</p>
        
        <h4>Dirección:</h4>
        <p>No especificado.</p>
        
        <h4>Teléfono:</h4>
        <p><strong>976761000</strong> - Ext. 2681</p>
        
        <div id="map-veterinaria" class="map" data-tap-disabled="true"></div>
      </div>
      
    </ion-content>
</ion-view>