<ion-view title="Info. Teruel">
  
    <ion-nav-buttons class="nav-buttons" side="left">
        <a id="backBtn" class="button icon-left ion-chevron-left button-clear button-dark"
           href="#/app/info">Atrás</a>
        </a>
    </ion-nav-buttons>
  
    <ion-content class="has-header">
      <div class="detalle-wrapper">
        <h3 class="titulo-detalle">Campus Teruel</h3>
        
        <h4>Edificio:</h4>
        <p>Escuela Universitaria de de Teruel, Vicerrectorado del Campus.</p>
        
        <h4>Dirección:</h4>
        <p>C/ Ciudad Escolar, s/n. 44003 Teruel.</p>
        
        <h4>Teléfono:</h4>
        <p><strong>978618158</strong> - Ext. 861158</p>
        
        <h4>Tel. Despacho CULM:</h4>
        <p><strong>978618266</strong> - Ext. 861266</p>
        
        <div id="map-teruel" class="map" data-tap-disabled="true"></div>
      </div>
      
    </ion-content>
</ion-view>