<ion-view title="Info. Zaragoza">
  
    <ion-nav-buttons class="nav-buttons" side="left">
        <a id="backBtn" class="button icon-left ion-chevron-left button-clear button-dark"
           href="#/app/info">Atrás</a>
        </a>
    </ion-nav-buttons>
  
    <ion-content class="has-header">
      <div class="detalle-wrapper">
        
        <div class="campus-wrapper">
          <h3 class="titulo-detalle">Campus Río Ebro</h3>

          <h4>Edificio:</h4>
          <p>Betancourt.</p>

          <h4>Dirección:</h4>
          <p>C/ María de Luna, s/n. 50018 Zaragoza.</p>

          <h4>Teléfono:</h4>
          <p><strong>976761024</strong> - Ext. 5246</p>

          <div id="map-rioebro1" class="map" data-tap-disabled="true"></div>
        </div>
        
        <hr>
        
        <div class="campus-wrapper">
          <h4>Edificio:</h4>
          <p>Lorenzo Normante.</p>

          <h4>Dirección:</h4>
          <p>C/ María de Luna, s/n. 50018 Zaragoza.</p>

          <h4>Teléfono:</h4>
          <p><strong>976761000</strong> - Ext. 2750</p>

          <div id="map-rioebro2" class="map" data-tap-disabled="true"></div>
        </div>
        
      </div>
      
    </ion-content>
</ion-view>