<ion-view title="Info. Zaragoza">
  
    <ion-nav-buttons class="nav-buttons" side="left">
        <a id="backBtn" class="button icon-left ion-chevron-left button-clear button-dark"
           href="#/app/info">Atrás</a>
        </a>
    </ion-nav-buttons>
  
    <ion-content class="has-header">
      <div class="detalle-wrapper">
        <h3 class="titulo-detalle">Campus San Francisco</h3>
        
        <h4>Edificio:</h4>
        <p>Interfacultades, 6ª planta.</p>
        
        <h4>Dirección:</h4>
        <p>C/ Pedro Cerbuna, 12. 50009 Zaragoza.</p>
        
        <h4>Teléfono:</h4>
        <p><strong>976761024</strong></p>
        
        <div id="map-sanfrancisco" class="map" data-tap-disabled="true"></div>
      </div>
      
    </ion-content>
</ion-view>