<ion-view title="Info. Huesca">
  
    <ion-nav-buttons class="nav-buttons" side="left">
        <a id="backBtn" class="button icon-left ion-chevron-left button-clear button-dark"
           href="#/app/info">Atrás</a>
        </a>
    </ion-nav-buttons>
  
    <ion-content class="has-header">
      <div class="detalle-wrapper">
        <h3 class="titulo-detalle">Campus Huesca</h3>
        
        <h4>Edificio:</h4>
        <p>Vicerrectorado Campus de Huesca, Conserjería Secretaría.</p>
        
        <h4>Dirección:</h4>
        <p>C/ Ronda de Misericordia, 5. 22001 Huesca.</p>
        
        <h4>Teléfono:</h4>
        <p><strong>974239385 / 974239388</strong> - Ext. 851385</p>
        
        <h4>Tel. Despacho CULM:</h4>
        <p><strong>974292539</strong> - Ext. 851539</p>
        
        <div id="map-huesca" class="map" data-tap-disabled="true"></div>
      </div>
      
    </ion-content>
</ion-view>