<ion-view title="Noticias">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  
  <ion-content class="has-header">
    
      <ion-refresher on-refresh="reloadNews();query=''"
                     pulling-text="Tirar para recargar"
                     refreshing-text="Cargando noticias..."
                     refreshing-icon="ion-loading-d">
      </ion-refresher>
    
      <ion-header-bar id="searchNews" class="item-input-inset bar-light">
          <label class="item-input-wrapper">
              <i class="icon ion-ios7-search placeholder-icon"></i>
              <input type="search" class="class-form" ng-model="query" ng-change="filterNoticias(query)"
                   id="searchInput" placeholder="Buscar noticia...">
          </label>
          <button class="button button-clear button-positive" ng-click="query='';clearSearch()"
                  ng-show="query.length">Cancelar</button>
      </ion-header-bar>
    
      <div class="list">
              <div>
              <a class="item noticia-item" ng-repeat="noticia in filteredNoticias | orderBy: '-fecha' | startFrom:currentPage*pageSize | limitTo:pageSize"
                 href="#/app/noticias/{{noticia.id}}">
                  <div class="tituloNoticia" ng-bind-html="noticia.descripcion"></div>
                  <div class="fechaNoticia">{{noticia.fecha | date: 'dd/MM/yyyy'}}</div>
              </a>
              </div>
      </div>
    
      <ion-infinite-scroll
              on-infinite="loadMoreNews()"
              distance="10%">
      </ion-infinite-scroll>
    
  </ion-content>
</ion-view>