<ion-view title="Profesor">

  <ion-nav-buttons class="nav-buttons" side="left">
    <a id="backBtn" class="button icon-left ion-chevron-left button-clear button-dark"
       href="#/app/profesoresList" ng-click="resetHideProfVars()">Atrás</a>
    </a>
  </ion-nav-buttons>
	
  <ion-content>
    <div class="detalle-wrapper">
      
      <h3 class="titulo-primario">
        <div ng-bind-html="profesor.nombre + ' '+ profesor.primerApellido + ' ' +  profesor.segundoApellido"> 
        </div>
      </h3>      
      <h5>{{profesor.seccion}}</h5>

      <div ng-hide="campusProfVacio">
        <h4>Campus:</h4>
        <p>{{profesor.campus}} ({{profesor.centro}})</p>
      </div>

      <div ng-hide="despachoProfVacio">
        <h4>Despacho:</h4>
        <p>{{profesor.despacho}}</p>
      </div>

      <div ng-hide="tutoriasProfVacio">
        <h4>Tutorias:</h4>
        <p>{{profesor.tutorias}}</p>
      </div>

      <div ng-hide="mailProfVacio">
        <h4>Email:</h4>
        <p>{{profesor.mail}}</p>
      </div>

      <div ng-hide="extensionProfVacio">
        <h4>Extension:</h4>
        <p>{{profesor.extension}}</p>
      </div>

      <div ng-hide="webProfVacio">
        <h4>Web:</h4>
        <p>{{profesor.web}}</p>
      </div>
    </div>
  </ion-content>
 </ion-view>