<ion-view title="Profesores">

  <ion-nav-buttons class="nav-buttons" side="left">
    <a id="backBtn" class="button icon-left ion-chevron-left button-clear button-dark"
       href="#/app/profesores">Atrás</a>
    </a>
  </ion-nav-buttons>
	
  <ion-content>
    <div class="list">
             <div>
              <a class="item lista-item"
                 ng-repeat="profesor in profesores | orderBy: 'nombre' | limitTo:pageSize"
                 href="#/app/profesores/{{profesor.nombre}}" ng-show="!resultadoProfesoresVacio"
                 ng-click="loadProf(profesor)">
                    <div class="nombreProfesor" ng-bind-html="profesor.nombre + ' ' + profesor.primerApellido
                                                                + ' ' +  profesor.segundoApellido"> </div>
                    <div class="seccionProfesor">{{profesor.seccion}}</div>
				  
              </a>

			  <div class="item lista-item busquedaSinResultado" ng-show="resultadoProfesoresVacio">
                  <div class="nombreProfesor">Ningún resultado</div>
			  </div>

                 <div class="item lista-item busquedaSinResultado" ng-show="resultadoProfesoresError">
                     <div class="nombreProfesor">Error al conectar con la base de datos</div>
                 </div>
            </div>
	</div> 
	
	<ion-infinite-scroll
              on-infinite="loadMoreProfesores()"
              distance="10%">
     </ion-infinite-scroll>
  </ion-content>
 </ion-view>