/* Empty. Add your own CSS if you like */
body, html {letter-spacing: 1px; font-size: 0.9em;}

input[type="search"]
{
    font-size: 0.9em;
    letter-spacing: 1px;
}

input[type="range"]
{
    height: 65px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #98999A; /* old IE */
  background-color: #98999A; /* Modern Browsers */
}

.fechaNoticia, .yearCalendar, .fechaIncidencia{
    float: right;
    padding-top: 7px;
    margin-bottom: -5px;
}
.tituloNoticia, .tituloCalendar, .tituloIncidencia, .tituloExamen{
    margin-top: -5px;
    position: static;
}

.tituloNoticiaInicio{
    margin-left: 20px;
}

#searchNews{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

#searchInput{
    max-width: 200px;
    margin-left: 15px;
}

.ion-search{
    font-size: 25px;
}

.fixed-outside{
    position: absolute;
    bottom: 0;
    background: #ffffff;
    color:white;
    width: 100%;
    height: 60px;
    text-align:center;
}

.has-bottom{
    bottom:60px !important;
}

/* Lista noticias */
.fechaNoticia, .tituloHorarioProfesor, .seccionProfesor {
    color: #98999A;
    font-size: 0.75em;
}

.tituloHorarioProfesor, .seccionProfesor {
  padding-top: 0px;
  /* wrapping para titulos demasiado largos */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tituloNoticia, .tituloExamen, .input-label, .tituloHorario, .nombreProfesor, .tituloNoticia {
    color: #4D4D4D; /* color fuente */
    font-size: 0.9em; /* tamaño fuente */
    /* wrapping para titulos demasiado largos */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lista-item {
    padding: 20px 35px 15px 35px;
}

.incidencia, .examen, .informacion { /* Padding top y bottom sobreescriben a .lista-item */
  padding-top: 25px;
  padding-bottom: 25px;
}

.informacion {
  cursor: pointer;
}

.informacionCampus {
  padding: 18px 20px 18px 35px;
  background: #F9F9F9;
}

.campus{
    color: #4D4D4D; /* color fuente */
    font-size: 0.8em; /* tamaño fuente */
    /* wrapping para titulos demasiado largos */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 25px;
}

.busquedaSinResultado {
  text-align: center;
  border-style: none;
  margin-top: 30px;
  color: #CCCCCC;
}

.tituloHorario, .busquedaSinResultado .nombreProfesor {
  color: #CCCCCC;
}

.formulario-input {
  padding: 8px 20px 8px 20px;
}

.formulario-input input {
  color: #454545;
  letter-spacing: 1px;
}

.item-select select {
  color: #454545;
  font-size: 0.75em; /* tamaño fuente */
}

/* Pagina Inicio */
#menu-wrapper {
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 25px;
    padding-bottom: 30px;
}

#menu-wrapper a {
    font-size: 1.5em;
    margin-bottom: 20px;
    padding: 7px;
    letter-spacing: 1.25px;
    box-shadow: 1px 1px 1px #888;
}

#menu-wrapper button i {
    margin: 0px;
    padding: 10px;
}

/* MENU LATERAL */
.mymenu {
    color: #ffffff;
    background: -webkit-linear-gradient(left, #002040 , #304A64); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #002040 , #304A64); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #002040 , #304A64); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #002040 , #304A64);
}

/*Set the background to transparent for ion-item*/
.mymenu .item {
    padding: 0px 20px 0px 10px;
    border-style: none;

    background: -webkit-linear-gradient(left, #002040 , #304A64); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #002040 , #304A64); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #002040 , #304A64); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #002040 , #304A64);
}

.mymenu .item span {
    margin-left: 25px;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.mymenu .item i {
    margin-left: 15px;
    padding: 0px;
    font-size: 1.2em;
}

/*Ion-item adds item-complex and an inner div, .item-content*/
/* this needs to be transparent too, but doesnt need borders*/
.mymenu .item-complex .item-content, .mymenu .item-radio .item-content {
    background-color: transparent;
    padding: 20px 0px 20px 0px;
}

/*Just makes the type white*/
.mymenu h2,
.mymenu h3,
.mymenu p,
.mymenu a {
    color: #ffffff;
}

#menu-list {
    margin-top: 40px;
}

#menuCalendarBttn :hover{
    cursor: hand;
}


.detalle-wrapper {
  margin: 0 auto;
  padding: 25px 40px 30px 40px;
  text-align: justify;
  max-width: 800px;
}

.detalle-wrapper h3 {
  color: #454545;
  font-size: 1.6em;
}

.titulo-detalle {
  margin-bottom: 25px;
}

.titulo-primario {
  margin-bottom: 2px;
}

.detalle-wrapper h4 {
  color: #454545;
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.detalle-wrapper h5 {
  color: #98999A;
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.25em;
}

.detalle-wrapper p {
  color: #4D4D4D; /* color fuente */
}

.detalle-wrapper a {
  color: #454545;
  font-weight: bold;
}
	
/* Logo */
#logo-wrapper {
    margin: 0px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
}

#inicio {
    background: -webkit-linear-gradient(left, #002040 , #304A64); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #002040 , #304A64); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #002040 , #304A64); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #002040 , #304A64);
}

#btn-noticias, .btn-formulario {
    margin: 0 auto;
    margin-top: 40px;
    font-size: 1.1em;
    font-weight: bold;
    width: 60%;
}

#btn-noticias {
  min-width: 210px;
}

#backBtn {
    color: #fff;
    font-size: .9em;
}

.btn-wrapper {
  margin-top: 35px;
  margin-bottom: 35px;
}

/* Splash */
#splash-wrapper {
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 30px;
}

#splash-div {
    display: table;
    margin: 0 auto;
    text-align: center;
}

#loading-div {
    margin-top: 50px;
}

/* POPUPS*/
#pdflogo, #warning {
  width: 60px; 
  height: 60px; 
  margin-top: 10px; 
  margin-left: 95px;
}

#info{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 90px;
}

#texto-popup {
  text-align: center;
}

/* Pagina Inicio */
#menu-wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding-right: 55px;
    padding-left: 55px;
}

#menu-wrapper a {
    font-size: 1.1em;
    margin-bottom: 20px;
    padding: 7px;
    letter-spacing: 1.25px;
    box-shadow: 1px 1px 1px #888;
}

#logo-wrapper {
    margin: 0px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#texto-popup {
    text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.map {
    margin: 0 auto;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    margin-top: 30px;
}