/* Empty. Add your own CSS if you like */
body, html {letter-spacing: 1px; font-size: 0.9em;}

.list {letter-spacing: 0px;}

input[type="search"]
{
  font-size: 0.9em;
  letter-spacing: 1px;
}

.fechaNoticia, .yearCalendar, .fechaIncidencia{
    float: right;
    padding-top: 7px;
    margin-bottom: -5px;
}
.tituloNoticia, .tituloCalendar, .tituloIncidencia{
    margin-top: -5px;
    position: static;
}

.tituloNoticiaInicio{
    margin-left: 20px;
}

#searchNews{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

#searchInput{
    max-width: 200px;
    margin-left: 15px;
}

.ion-search{
    font-size: 25px;
}

.fixed-outside{
    position: absolute;
    bottom: 0;
    background: #ffffff;
    color:white;
    width: 100%;
    height: 60px;
    text-align:center;
}

.has-bottom{
    bottom:60px !important;
}

/* Lista noticias */
.fechaNoticia {
  color: #98999A;
  font-size: 0.75em;
}

.tituloNoticia {
  color: #4D4D4D; /* color fuente */
  font-size: 0.9em; /* tamaño fuente */
  /* wrapping para titulos demasiado largos */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noticia-item {
  padding: 20px 35px 15px 35px;
}


/* Pagina Inicio */
#menu-wrapper {
  padding: 25px;
}

#menu-wrapper a {
  font-size: 1.7em;
  margin-bottom: 20px;
  padding: 10px;
  letter-spacing: 1px;
}

#menu-wrapper button i {
  margin: 0px;
  padding: 10px;
}


/* MENU LATERAL */
.mymenu {
  color: #ffffff;
  background: -webkit-linear-gradient(left, #002040 , #304A64); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #002040 , #304A64); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #002040 , #304A64); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #002040 , #304A64);
}

/*Set the background to transparent for ion-item*/
.mymenu .item {
  padding: 0px 20px 0px 10px;
  border-style: none;
  
  background: -webkit-linear-gradient(left, #002040 , #304A64); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #002040 , #304A64); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #002040 , #304A64); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #002040 , #304A64);
}

.mymenu .item span {
  margin-left: 25px;
  font-size: 0.9em;
  letter-spacing: 1px;
}

.mymenu .item i {
  margin-left: 15px;
  padding: 0px;
  font-size: 1.2em;
}

/*Ion-item adds item-complex and an inner div, .item-content*/
/* this needs to be transparent too, but doesnt need borders*/
.mymenu .item-complex .item-content, .mymenu .item-radio .item-content {
  background-color: transparent;
  padding: 20px 0px 20px 0px;
}

/*Just makes the type white*/
.mymenu h2,
.mymenu h3,
.mymenu p,
.mymenu a {
  color: #ffffff;
}

#menu-list {
  margin-top: 40px;
}

/* Logo */
#logo-wrapper {
  margin: 0px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

#inicio {
  background: -webkit-linear-gradient(left, #002040 , #304A64); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #002040 , #304A64); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #002040 , #304A64); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #002040 , #304A64);
}

#noticia-wrapper {
  padding: 25px 40px 30px 40px;
}

#noticia-wrapper h3 {
  color: #454545;
  font-size: 1.6em;
}

#noticia-wrapper p {
  color: #4D4D4D; /* color fuente */
  text-align: justify;
}

#btn-noticias {
  margin-top: 40px;
  font-size: 1.1em;
}

#backBtn {
  color: #fff;
  font-size: .9em;
}


/* Splash */
#splash-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;
}

#splash-div {
  display: table;
  margin: 0 auto;
  text-align: center;
}

#loading-div {
  margin-top: 50px;
}