/* Empty. Add your own CSS if you like */
.fechaNoticia, .yearCalendar, .fechaIncidencia{
    float: right;
    padding-top: 10px;
}
.tituloNoticia, .tituloCalendar, .tituloIncidencia{
    font-weight: bold;
}

#previousButton{
    position: fixed;
    left: 25%;
    bottom: -55px;
    width: 100px;
}
#pageNumber{
    position: fixed;
    left: 60%;
    bottom: -45px;
    width: 100px;
    font-weight: bold;
    font-size: large;
}
#nextButton{
    position: fixed;
    left: 75%;
    bottom: -55px;
    width: 100px;
}